body {
    background-color: #f5f6fa
}

.btn-dark {
    border-radius: 0;
    letter-spacing: .1rem;
}

.premio {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.premio.light {
    color: #ced6e0;
}

.fancy {
    font-family: 'Cabin', sans-serif;
    font-size: 4rem;
    line-height: 3.5rem;
}

.winner-number {
    padding-top: .4rem;
    font-size: 1.5rem;
}

.lotto {
    font-size: .7rem;
    font-weight: bold;
    margin-bottom: .2rem;
    padding-top: 1rem;
}

.barcode {
    font-family: 'Libre Barcode 39 Extended', cursive;
}


/* --- YELLOW ---*/

.border-yellow {
    border: 1px solid #EAC435;
    padding: .2rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(234, 196, 53, 0.02), 0 6px 20px 0 rgba(234, 196, 53, 0.19);
}

.yellow {
    background-color: #EAC435;
    padding: 1px;
    width: 3.5rem;
    height: 134px;
}

.yellow-thin {
    background-color: #EAC435;
    width: 1.8rem;
    height: 134px;
}

/* --- PINK --- */

.border-pink {
    border: 1px solid #D81E5B;
    padding: .2rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(216, 30, 91, 0.02), 0 6px 20px 0 rgba(216, 30, 91, 0.19);
}

.pink {
    background-color: #D81E5B;
    padding: 1px;
    width: 3.5rem;
    height: 134px;
}

.pink-thin {
    background-color: #D81E5B;
    width: 1.8rem;
    height: 134px;
}

/* --- SEA GREEN ---*/

.border-seagreen {
    border: 1px solid #03CEA4;
    padding: .2rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(3, 206, 164, 0.02), 0 6px 20px 0 rgba(3, 206, 164, 0.19);
}

.seagreen {
    background-color: #03CEA4;
    padding: 1px;
    width: 3.5rem;
    height: 134px;
}

.seagreen-thin {
    background-color: #03CEA4;
    width: 1.8rem;
    height: 134px;
}

/* --- ORANGE -- */

.border-orange {
    border: 1px solid #F55D3E;
    padding: .2rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(245, 93, 62, 0.02), 0 6px 20px 0 rgba(245, 93, 62, 0.19);
}

.orange {
    background-color: #F55D3E;
    padding: 1px;
    width: 3.5rem;
    height: 134px;
}

.orange-thin {
    background-color: #F55D3E;
    width: 1.8rem;
    height: 134px;
}

/* --- GREY -- */

.border-grey {
    border: 1px solid #f1f2f6;
    padding: .2rem;
    background-color: white;
}

.border-grey p {
    color: #ced6e0;
}

.grey {
    background-color: #f1f2f6;
    padding: 1px;
    width: 3.5rem;
    height: 134px;
}

.grey-thin {
    background-color: #f1f2f6;
    width: 1.8rem;
    height: 134px;
}